<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bool.uibaselibrary">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.VerticalScreenActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".ui.HorizontalScreenActivity"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".ui.SimpleBehaviorTwoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.SimpleBehaviorActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".basics.NestedScrollTwoActivity" />
        <activity android:name=".basics.MeasureLayoutDrawActivity" />
        <activity android:name=".basics.CustomViewActivity" />
        <activity android:name=".basics.NestedScrollingActivity" />
        <activity android:name=".RecyclerViewTwoActivity" />
        <activity android:name=".RecyclerViewExpendActivity" />
        <activity android:name=".basics.BitActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>